# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: c8882ea7a90d

[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,y,z
[resonance_tester]
accel_chip: adxl345
probe_points:
    110, 110, 20  # an example


# sensor_type:MAX31865
# sensor_pin: EBBCan: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2209 extruder]
interpolate: true
uart_pin: EBBCan: PA15
run_current: 0.650
sense_resistor: 0.11
#stealthchop_threshold: 999999

[fan]
pin: EBBCan: PA0

[heater_fan fan]
pin: EBBCan: PA1
heater: extruder
heater_temp: 50.0

[neopixel neo]
pin: EBBCan:PD3
chain_count: 3
initial_RED:0.0
initial_GREEN:0.0
initial_BLUE:0.0
initial_WHITE:0.5
color_order:GRBW
[bltouch]
sensor_pin: ^EBBCan:PB8
control_pin: EBBCan:PB9
x_offset: 36
y_offset: 12
#z_offset: 2
pin_move_time: 0.4
speed: 20
pin_up_touch_mode_reports_triggered: False
probe_with_touch_mode: True
stow_on_each_sample: False

[bed_mesh]
speed: 300
horizontal_move_z: 7 #Positive value equal to z_offset or larger. eg: if z_offset is -2.5 this must be at least 2.5 or larger
mesh_min: 36,30
mesh_max: 223,201
probe_count: 5,5
zero_reference_position: 117.5, 117.5 #for 235x235 bed. adapt to your bed size if needed. same for mesh min and max above
algorithm: bicubic
fade_start: 1
fade_end: 10
#fade_target:
#   The z position in which fade should converge. When this value is set
#   to a non-zero value it must be within the range of z-values in the mesh.
#   Users that wish to converge to the z homing position should set this to 0.
#   Default is the average z value of the mesh.
split_delta_z: 0.015
#   The amount of Z difference (in mm) along a move that will
#   trigger a split. Default is .025.
move_check_distance: 3
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
mesh_pps: 4,4
adaptive_margin: 5
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.
#bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above
#   may be applied to change the amount of slope interpolated.
#   Larger numbers will increase the amount of slope, which
#   results in more curvature in the mesh. Default is .2.
[safe_z_home]
home_xy_position: 110, 110 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                 # Move up 10mm
z_hop_speed: 5
[filament_switch_sensor switch_sensor]
switch_pin: EBBCan:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBCan:PB3
[screws_tilt_adjust] #Change to your specific printer is needed. Back left screw as referance point and that's where strain relief is is recommended
screw1: 33.5, 181.5
screw1_name: Back left
screw2: 33.5, 30
screw2_name: Front left
screw3: 198.5, 30
screw3_name: Front right
screw4: 198.5, 181.5
screw4_name: Back right
screw_thread: CW-M4 #Ender 3s use CW-M4 change for your printer if needed
horizontal_move_z: 10